<% @title = "Feed" %>

<% content_for :description do %>
    <p></p>
<% end %>

<% content_for :actions do %>
    <%= link_to new_product_path, class: 'btn btn-primary btn-large pull-right' do %>
        <%= icon_tag "plus" %> Add Product
    <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Active</th>
        <th>Order</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= image_tag product.avatar.url(:thumb), style:"height:50px" %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.active %></td>
            <td><%= product.order_id %></td>
            <td class="actions">
              <%= link_to icon_tag("eye"), product, rel: 'tooltip', title: 'Show' %>
              <% if product.hosted_by?(current_user) %>
                  <%= link_to icon_tag("pencil"), edit_product_path(product), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to icon_tag("trash-o"), product, rel: 'tooltip', title: 'Delete',
                              data: { confirm: 'Are you sure?' }, method: :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <% if @products.length == 0 %>
          <tr><td colspan=42 class='text-center'>No products.</td></tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

