<% @title = "Showing product" %>

<% unless @product.order_id.present? %>
  <%= button_to 'Add to Cart', orders_path, class: 'btn', params: {'product_id' => @product.id}%>
<% end %>

<br>

<div class="show_block">
  <%= image_tag @product.avatar.url(:medium), style: "height: 200px;" %>
</div>
<div class="show_block">
  <span><%= @product.name %></span>
  <span><%= @product.price %></span>
  <span>Seller: <%= @product.order.user.first_name %></span>
  <span><%= @product.description %></span>
</div>




</div>